/PrimeiroProgama/target/
/OlaMundoSwing/target/
/OlaMundoSwing/nbproject/private/
/OlaMundoSwing/build/
/RelogioSwing/nbproject/private/
/RelogioSwing/build/
/IdiomaSwing/nbproject/private/
/TiposPrimitivos/nbproject/private/
/TiposPrimitivos/build/
/SomaSwing/nbproject/private/
/SomaSwing/build/
/CalculadoraIdade/nbproject/private/
/CalculadoraIdade/build/
